* {
    margin: 0;
    padding: 25;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

div.cscroll
{
    margin:5px;
    padding:5px;
    width: 500px;
    height: 200px;
    overflow: auto;
    text-align:justify;
}

.notification {
    -webkit-animation-name: notification;
    animation-name: notification;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: #FFF;
    position: fixed;
    border-radius: 5px;
    padding: 10px;
    transition: .2s;
}
mark
{
    background: transparent;
    padding: 0;
    font-weight: bold;
}

.requst
{
    margin:5px;
    padding:5px;
    width: 500px;
    height: 300px;
    overflow: auto;
    text-align:justify;
}


@-webkit-keyframes notification {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes notification {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.notification_alert {
    display: none;
}


.btn_b {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 30px;
    background: #000000;
    color: #fff;
    border-radius: 5px;
    transition: .2s;
}

.btn_b:hover {
    background: #ffffff;
    color: #000;
    cursor: pointer;
}

.notification_bg {
    z-index: 2;
    background: rgb(0, 0, 0, .4);
    position: fixed;
    width: 500px;
    height: 270px;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: scale(100);
}

#hide_bt {
    background: #000000; 
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

#hide_bt:hover {
    background: #ffffff;
    color: #000;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}
#capture_screen
{
    display: block;
}

body {
    font: 16px Arial;
}

datalist {
    width: 100%;
}

#myInput {
    outline: none;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

th, td,tr {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#demo {
    display: none;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: #585a69;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.select {
    font-size: 5em;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 13px 18px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 5px;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover, .select select:focus {
    color: #707070;
    background: #d4d4d4;
}

.select select:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 9px;
    right: 51px;
    width: 17px;
    height: 17px;
    border: solid #7b7b7b;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow, .select select:focus ~ .select_arrow {
    border-color: #000000;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

div.requst form input 
{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

div.requst form select 
{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
}

div.requst form button 
{
    width: 100%;
    color: #FFF;
    background-color: rgb(28, 138, 240);
    height: 40px;
    border-radius: 5px;
    border: 0px;
    padding: 10px;
    margin-bottom: 10px;
    transition: .3s;
}

div.requst form button:hover
{
    background-color: rgb(255, 255, 255);
    color: #000;
    cursor: pointer;
}

div.requst form p
{
    padding: 5px;
}
